# Ignore anything that is not a markdown file, indicated by .md extensionq
/*
!.gitignore
!/data_science_notes
!/technology_notes
!/misc_notes
technology_notes/*
!technology_notes/*.md
data_science_notes/*
!data_science_notes/*.md
misc_notes/*
!misc_notes/*.md

